<div class="container">
  <div class="content">
    <h1>{{ title }}</h1>

    <div class="visibility-info">
      <div class="visible-range">
        <span class="range-label">Slice ArrayIndex Range:</span>
        <span class="range-value">{{ startIndex }} - {{ endIndex }}</span>
        <span class="range-value">{{ endIndex - startIndex }}</span>
      </div>
    </div>

    <div class="tree-container">
      <div class="tree-list" #treeList (scroll)="onScroll()">
        <!-- Top spacer to maintain scroll position -->
        <div
          class="spacer top-spacer"
          [style.height.px]="topSpacerHeight"
        ></div>

        <div class="view" [style.gap.px]="gap">
          @for (node of flatArray | slice: startIndex : endIndex; track node.id)
          { @if (node.type === 'parent') {
          <div
            class="tree-item parent"
            (click)="toggleParent(node.id)"
            style.margin-left="{{ node.level * 20 }}px"
          >
            <span class="toggle-icon" [class.open]="isParentOpen(node.id)"
              >▶</span
            >
            <span class="node-id">Index: {{ findOriginalIndex(node.id) }}</span>
            <!-- <span class="node-name">{{ getNode(node.id)?.name }}</span> -->
            <span class="badge">Parent</span>
            <label
              class="checkbox-container"
              (click)="$event.stopPropagation()"
            >
              <input
                type="checkbox"
                [checked]="areAllChildrenSelected(node.id)"
                [appIndeterminate]="areSomeChildrenSelected(node.id)"
                (change)="toggleParentSelection(node.id, $event)"
              />
              <span class="checkbox-label">Select All</span>
            </label>
          </div>
          } @else {
          <div
            class="tree-item child"
            [class.selected]="isCardSelected(node.id)"
            style.background-color="{{ getBgColor(node) }}"
            (click)="selectCard(node.id, $event)"
          >
            <div style="display: flex; flex-direction: column; gap: 4px">
              <span class="node-id"
                >Index: {{ findOriginalIndex(node.id) }}</span
              >
              <span class="node-id">ID: {{ node.id }}</span>
            </div>
            <!-- <span class="node-name">{{ getNode(node.id)?.name }}</span> -->
            <span class="badge">Child</span>
          </div>
          } }
        </div>

        <!-- Bottom spacer to maintain full scroll height -->
        <div
          class="spacer bottom-spacer"
          [style.height.px]="bottomSpacerHeight"
        ></div>
      </div>
    </div>
  </div>
</div>
